<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Username</span>
                        <span class="text-muted text-xs block">Title <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="~/Account/LogOff"> Cerrar sesion</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img class="img-sm" src="~/Complemento/image/iconos/Logo.png" />
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Index")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-diamond"></i> <span class="nav-label">Inicio</span> <span class="label label-primary float-right">Inicio</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Cita", action: "EnlistarMisCitas")">
                <a href="@Url.Action("EnlistarMisCitas", "Cita")"><i class="fa fa-heart"></i><span class="nav-label">Citación</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Cita", action: "MostrarCitas")">
                <a href="@Url.Action("MostrarCitas", "Cita")"><i class="fa fa-heart"></i><span class="nav-label">Citación</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "About")">
                <a href="@Url.Action("About", "Home")"><i class="fa fa-info-circle"></i><span class="nav-label">Nosotros</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Contact")">
                <a href="@Url.Action("Contact", "Home")"><i class="fa fa-comments-o"></i><span class="nav-label">Contactanos</span></a>
            </li>
            <li>
                <a href="#" aria-expanded="false"><i class="fa fa-medkit"></i><span class="nav-label">Psicoterapias</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="~/Home/Information/Tera=Fa" aria-expanded="false">Psicoterapia familiar</a>
                    </li>
                    <li>
                        <a href="~/Home/Information/Tera=NA" aria-expanded="false">Psicoterapia en niños y adolescentes</a>
                    </li>
                    <li>
                        <a href="~/Home/Information/Tera=Pa" aria-expanded="false">Psicoterapia de parejas</a>
                    </li>
                    <li>
                        <a href="~/Home/Information/Tera=Pe" aria-expanded="false">Problemas de personalidad</a>
                    </li>
                    <li>
                        <a href="~/Home/Information/Tera=Ad" aria-expanded="false">Problemas de adicción</a>
                    </li>
                    <li>
                        <a href="~/Home/Information/Tera=EA" aria-expanded="false">Problemas emocionales y afectivos</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>