@model IEnumerable<ConoceTe.WebApp.Models.Psicologo>

@{
    ViewData["Title"] = "Mostrar citas";
}
<head>
    <title>ConoceTe | @ViewData["Title"]</title>
    <!--Carga de Estilo Propio-->
    <link rel="stylesheet" href="~/Complemento/css/listaCitas.css">
</head>

<section class="Lista_Charlas">
    <div class="container">
        @foreach (var psicologo in Model)
        {
            <div class="card col-lg-5">
                <div class="row animated bounceIn">
                    <div class="col-sm-4 col-xs-4">
                        <img class="d-block w-100" src="https://secure.gravatar.com/avatar/baa004ce83acc7623f58cb90401e8eb0?s=1024&d=mm&r=g" alt="">
                    </div>
                    <div class="col-sm-8 col-xs-4">
                        <div class="card-body">
                            <h5 class="card-title text-center h4">@psicologo.Usuario.UsuarioNombre @psicologo.Usuario.UsuarioApellido</h5>
                            <p class="card-text"><b>DESCRIPCION:</b> @psicologo.PsicologoDescripcion</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Especializado en @psicologo.PsicologoEspecialidad</li>
                            <li class="list-group-item">Estudió en @psicologo.PsicologoUniversidad</li>
                        </ul>
                        <div class="card-body">
                            <a href="~/Cita/SeleccionarCita?id=@psicologo.PsicologoID" class="btn btn-outline-primary btn-lg btn-block">Ver horarios</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>