@{
    Layout = null;
    ViewData["Title"] = "ForgotPassword";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConoceTe</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="@Url.Content("~/Complemento/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")

    <!--Carga de Estilo Propio-->
    <link rel="stylesheet" href="~/Complemento/css/forgotpassword.css" />
</head>
<body class="fondo_forgot">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content text-center">
                    <h2 class="font-bold">¿Te olvidaste la contraseña?</h2><h2>No hay problema</h2>
                    <p class="mt-3 mb-1">
                        Ingrese su dirección de correo electrónico y se le enviará un mensaje para reestrablecer su contraseña.
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control text-center" id="email" name="email" placeholder="Correo electrónico" required />
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Enviar para nueva contraseña</button>
                            </form>
                            <a href="@Url.Action("Login", "Account")"><span>Sí me acuerdo. <i class="fa fa-arrow-circle-left"></i> Volver al Login</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row footer_forgot">
            <div class="col-md-6">
                Copyright &copy;ConoceTe
            </div>
            <div class="col-md-6 text-right">
                <small>©2020</small>
            </div>
        </div>
    </div>

    <!-- End wrapper-->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")

    <!-- Skin config script - only for demo purpose-->
    @Scripts.Render("~/bundles/skinConfig")
</body>
</html>